.div-flecha-itemlibro {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}

.itemlibro {
  margin-left: 50px;
}

.textoresena {
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding-left: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.textoresena p {
  line-height: 30px;
  text-align: justify;
}
/*POPUP*/
.popup {
  max-width: 30%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #252627;
  background-color: #f4e5e0;
  overflow: auto;
  position: fixed;
  bottom: 60px;
  left: 100px;
  z-index: 1;
}

.popup-derecha {
  max-width: 30%;
  border-radius: 5px;
  border: 2px solid #252627;
  background-color: #f4e5e0;
  overflow: auto;
  position: fixed;
  bottom: 60px;
  right: 100px;
  z-index: 1;
}
.popup-derecha ul {
  list-style: none;
  font-size: 18px;
}

.popup-item:hover {
  background-color: #ddd0cc;
  cursor: pointer;
}

.popup-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .itemlibro {
    margin-left: 10px;
  }
  .textoresena {
    margin-top: 40px;
    width: 100%;
    align-items: center;
    padding: 20px;
  }
  .div-flecha-itemlibro {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
  }
}
